.inventory-container  {
    height:80%;
    width:20%;
    background:rgba(36, 42, 91, 0.5);
    border: 1px solid gold;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;

    position:absolute;
    top:50%;
    left: 80%;
    transform:translate(0,-50%);
}