.shop-wrap {
  margin: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-2b);
  border-radius: 1rem;
  h1 {
    margin: 2rem;
    text-align: center;
  }
  }
  
  .breadcrumb {
    a {
      color: black;
      text-decoration: none;
  
      &:hover {
        text-decoration: underline;
      }
    }
}

.shop {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.shop2 {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

.shop2-left,
.shop3-right {
  background-color: var(--color-2c);
  padding: 2rem;
  width: 50%;
}

.shop2-left>table {
  margin-bottom: 2rem;
}

.shop2-left>table,
.shop2-left>footer {
  background-color: var(--color-2c);
  width: 100%;
  padding: 0;
}

form {
  background-color: var(--color-2c);
  padding: 2rem;
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.option {
  flex-grow: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-2c);

  button {
    border-radius: .5rem;
    padding: 1rem;
  }
}