.profile-container {
    height: 100%;
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.apt-display {
    width: 80vw;
    margin: 0;
    padding: 0;
}

 .profile-pages {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

 }
  
 .about-user {
    background: var(--dark-lilac);
    border-radius: 8px;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    padding: 5%;
    height: 50%;
 }
  
 .profile-pic {
    width: 100%;
    height: 80%;
    background: var(--dark-blue);
 }
  
 .user-title {
    font-size: 2rem;
    margin: 10% 0 5% 0;
 }
  
 .line {
    width: 90%;
    height: 2px;
    background: rgba(0, 0, 0, 0.3);
 }
  
 .user-list {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin: 10% 0 0 0;
 }


  
 .user-properties {
    background: var(--dark-lilac-faded);
    padding: 5%;
    margin-top: 5%;
    border-radius: 8px;

    display: flex;
    flex-direction: column;

    overflow: scroll;
 }

 .user-properties-listed {
     border: 1px black solid;
     width: 100%;
     max-height: 60%;

     display: flex;
     flex-direction: row;

     margin: 5% 0 0 0;
 }

 .title-icon {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
 }

 .user-props-title {
     font-size: 2rem;
 }
 
 .user-content {
    background: var(--dark-lilac);
    border-radius: 8px;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    padding: 5%;
    height: 50%;
 }

 .about-property-list {
     display: flex;
     flex-direction: row !important;
 }

:root {
  --lilac-background: rgba(178, 187, 255, 1);
  --dark-lilac: #979fdc;
  --dark-blue: #242a5b;
  --dark-blue-faded: rgba(36, 42, 91, 0.6);
  --dark-lilac-faded: #828ac5;
}

.user-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 10%;
}

.profile-pages {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 7%;

  gap: 5%;
}

.about-user {
  background: var(--dark-lilac);
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 5%;
  height: 70%;
}

.profile-pic {
  width: 100%;
  height: 80%;
  background: var(--dark-blue);
}

.user-title {
  font-size: 2rem;
  margin: 10% 0 5% 0;
}

.line {
  width: 90%;
  height: 2px;
  background: rgba(0, 0, 0, 0.3);
}

.user-list {
  display: flex;
  flex-direction: column;
  margin: 10% 0 0 0;
  justify-content: space-around;

  li {
    font-size: large;
  }
}

.property-img {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 2%;
  width: 40%;

  img {
    min-width: 100%;
    min-height: 100%;
  }
}

.user-properties {
  background: var(--dark-lilac-faded);
  padding: 5%;
  margin-top: 5%;
  border-radius: 8px;

  display: flex;
  flex-direction: column;

  overflow: scroll;
}

.user-properties-listed {
  border: 1px black solid;
  width: 100%;
  //height: 100%;
  display: flex;
  flex-direction: row;

  margin: 5% 0 0 0;
}

.apartment-cost {
  display: flex;
  flex-direction: row;
  gap: 3%;

  img {
    max-width: 10%;
    max-height: auto;
  }
}

.view-sell-btns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5%;

  .btn {
    width: 5rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

  }
}
.title-icon {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.icon {
  background-color: var(--dark-blue);
  color: white;
  display: flex;
  align-items: center;
}

.user-props-title {
  font-size: 2.5rem;
  letter-spacing: 0.5px;
  font-family: springwoodFont;
  color: white;
}

.user-content {
  background: var(--dark-lilac);
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 5%;
  height: 70%;
  width: 40%;
}

.about-property-list {
  flex-shrink: 0;
  display: flex;
  flex-direction: row !important;
}



//ABOUT PAGE

.about-content {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 0% 5%;
  overflow: scroll;
  
  .about-title-desc {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    gap: 3%;
    text-align: center;

    h2 {
      color: white;
      font-style: italic;
    }
  }

  .about-section {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 5%;
    margin-top: 2%;

      .about-1 {
        flex-direction: column;
        flex-grow: 2;
        width: 30%;

        p {
          margin-top: 10px;
        }
      }
  }
}
