:root {
  --lilac-background: #B3BBFF;
  --faded-lilac:  rgba(36, 42, 91, 0.19);
  --dark-blue: #242A5B;
  --dark-blue-faded: rgba(36, 42, 91, 0.6);
}

img {
  width: auto;
  max-width: 95%;
  max-height: 75%;
  margin: 2% 0 2% 0;
}

button {
  background: var(--dark-blue);
  border: none;
  color: white;
  padding: 15px 32px;
  border-radius: 8px;
  text-align: center;
  display: inline-block;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.buy-button {
  margin: 3% 0 3% 0;
}

footer {
  display: none;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(88, 114, 102, 0.4);
  /*  rgba(178, 187, 255, 0.5);
    background-color: rgba(91, 136, 116, 0.5); */
  /*     rgba(247, 247, 247, 0.5); */
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal_content {
  height: 85vh;
  width: 80vw;
<<<<<<< Updated upstream
  background-color: #abd4c4;
=======
  background-color: var(--lilac-background);
>>>>>>> Stashed changes
  /*   background: rgb(75, 82, 136); */
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.apt-display {
  height: 85%;
  width: 90%;
  background: rgba(250, 251, 251, 0.9);
  border-radius: 8px;
  padding: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.apt-title {
  margin-bottom: 1%;
}

.sale-status {
  color: rgba(88, 114, 102, 0.8);
}

.about-apt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 40%;
}
<<<<<<< Updated upstream
=======

ul {
  list-style: none;
}

.profile-pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7%;
}

.about-user {
  background: var(--dark-lilac);
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5%;
}

.profile-pic {
  width: 20vw;
  height: 30vh;
  background: var(--dark-blue);
  text-align: center;
  color: white;
}

.user-title {
  font-size: 2rem;
  margin: 10% 0 5% 0;
}

.line {
  width: 90%;
  height: 2px;
  background: rgba(0, 0, 0, 0.3);
}

.user-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 10% 0 0 0;
}

.user-properties {
  background: pink;
}
>>>>>>> Stashed changes
/*# sourceMappingURL=apartment.css.map */