.shop-wrap {
  margin: 2rem;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--color-2b);
  border-radius: 1rem;
}

.shop-wrap h1 {
  margin: 2rem;
  text-align: center;
}

.breadcrumb a {
  color: black;
  text-decoration: none;
}

.breadcrumb a:hover {
  text-decoration: underline;
}

.shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
}

.shop2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 4rem;
}

.shop2-left,
.shop3-right {
  background-color: var(--color-2c);
  padding: 2rem;
  width: 50%;
}

.shop2-left > table {
  margin-bottom: 2rem;
}

.shop2-left > table,
.shop2-left > footer {
  background-color: var(--color-2c);
  width: 100%;
  padding: 0;
}

.payment-form {
  background-color: var(--dark-lilac-faded);
  padding: 2rem;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.option {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--color-2c);
}

.option button {
  border-radius: .5rem;
  padding: 1rem;
}

:root {
  --window-size: 12vw;
}

.house {
  position: relative;
  padding: 1rem 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  width: 60%;
  z-index: 30;
  margin-left: 20%;
  /* margin-top: 20%; */
  background: url(./css-content/brickwall-test2.png) repeat;
  background-size: 33%;
  -webkit-box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);
  z-index: 190;
}

.background {
  background-position: bottom;
  z-index: 1;
}

.floor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  margin-top: .5vh;
}

.window {
  background: url(./css-content/window1.png) no-repeat;
  background-position: center;
  margin: .5vw;
  height: var(--window-size);
  width: var(--window-size);
  border: 2px solid var(--color-white);
}

.window-btn {
  width: 100%;
  height: 100%;
  background: none;
}

.entrance {
  height: var(--window-size);
  padding-bottom: 0;
  margin-top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.door {
  background: url(./css-content/door.jpeg) no-repeat;
  background-size: cover;
  height: var(--window-size);
  width: calc(var(--window-size) / 1.5);
}

.popup-content {
  margin: auto;
  width: 50%;
  padding: 20px;
}

.popup-arrow {
  color: white;
}

.popup-arrow path {
  fill: var(--lilac-background);
}

[role='tooltip'].popup-content {
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
  background-color: var(--lilac-background);
  padding: 1.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

[role='tooltip'].popup-content h1 {
  text-align: center;
  font-family: springwoodFont;
  color: var(--color-white);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  text-shadow: 0 0 2px var(--dark-lilac-faded);
  letter-spacing: 1.5px;
}

[role='tooltip'].popup-content .pop-up-apt-display {
  background: var(--dark-lilac-faded);
  padding: 5%;
  border-radius: 8px;
  margin-top: 5%;
}

[role='tooltip'].popup-content .pop-up-apt-display h3, [role='tooltip'].popup-content .pop-up-apt-display ul, [role='tooltip'].popup-content .pop-up-apt-display .pop-up-apt-image {
  margin-bottom: 5%;
}

[role='tooltip'].popup-content .pop-up-apt-display .pop-up-apt-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

[role='tooltip'].popup-content .pop-up-apt-display .pop-up-apt-image img {
  max-width: 100%;
  max-height: 100%;
  border: 8px solid var(--dark-blue-faded);
  border-radius: 8px;
}

[role='tooltip'].popup-content .pop-up-apt-display .apt-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

[role='tooltip'].popup-content .pop-up-apt-display .apt-buttons #pop-up-buy-btn {
  background-color: var(--buy-btn-green);
}

[role='tooltip'].popup-content .pop-up-apt-display .apt-buttons #pop-up-buy-btn:hover {
  background-color: var(--buy-btn-green-hover);
  -webkit-transition: 0.5;
  transition: 0.5;
}

[role='tooltip'].popup-content .pop-up-apt-display .apt-buttons button:hover {
  background-color: var(--dark-blue-hover);
  -webkit-transition: 0.5;
  transition: 0.5;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}

[data-popup='tooltip'].popup-overlay {
  background: transparent;
}

.parallax-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 200px;
  -webkit-perspective: 10px;
          perspective: 10px;
  z-index: 10;
}

.parallax-wrapper .ufo {
  position: absolute;
  top: 0;
  right: -200px;
  width: 5%;
  height: auto;
}

.parallax-wrapper .ironman {
  position: absolute;
  top: 730px;
  width: 10%;
  height: auto;
  left: 0;
}

.parallax-wrapper .clouds2 {
  position: absolute;
  top: 960px;
  right: 0;
  width: 15%;
  height: auto;
}

.parallax-wrapper .clouds3 {
  position: absolute;
  top: 950px;
  width: 20%;
  height: auto;
  left: 0;
}

.parallax-wrapper .clouds4 {
  position: absolute;
  top: 770px;
  width: 15%;
  height: auto;
  left: 0;
}

:root {
  --lilac-background: rgba(178, 187, 255, 1);
  --dark-lilac: #979fdc;
  --dark-blue: #242A5B;
  --dark-blue-faded: rgba(36, 42, 91, 0.6);
  --dark-lilac-faded: #828ac5;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.wrapper-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 50%;
  height: 90%;
  background-color: var(--lilac-background);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 8px;
}

.heading--formHeading {
  font-family: springwoodFont;
  color: white;
  font-size: 2.5rem;
  letter-spacing: .5px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 12%;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.heading--loginHeading {
  margin-top: 0;
}

.register-form {
  background-color: var(--dark-lilac);
  padding: 10%;
  max-width: 80%;
  height: 90%;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.register-form .form-title {
  color: var(--dark-blue);
  font-size: 1rem;
  margin-bottom: 1%;
}

.register-form--login-form {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5%;
  width: 100%;
}

input {
  width: 100%;
  padding: 2%;
  margin-bottom: 4.5%;
  outline: none;
}

input[type=text], input[type=password], input[type=email] {
  background-color: var(--dark-blue);
  border-radius: 8px;
  border: 3px solid var(--dark-blue);
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
  background-color: var(--lilac-background);
}

::-webkit-input-placeholder {
  color: var(--dark-lilac);
}

:-ms-input-placeholder {
  color: var(--dark-lilac);
}

::-ms-input-placeholder {
  color: var(--dark-lilac);
}

::placeholder {
  color: var(--dark-lilac);
}

input[type=password] {
  margin-bottom: 1%;
}

.forgot-txt {
  font-size: x-small;
  font-style: italic;
}

.btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10% 0 8% 0;
  /*     margin-bottom: 8%; */
  width: 100%;
}

.btns .back-btn {
  padding: 1% 2% 1% 2%;
  background-color: var(--dark-lilac);
  border: 3px solid var(--dark-blue);
  color: var(--dark-blue);
}

.btns .btn {
  font-size: 1.5rem;
  font-weight: bolder;
}

.form-group {
  margin-bottom: 5%;
}

.article-container {
  height: 100%;
  width: 100%;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.apt-display {
  width: 80vw;
  margin: 0;
  padding: 0;
}

.profile-pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-user {
  background: var(--dark-lilac);
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5%;
  height: 50%;
}

.profile-pic {
  width: 100%;
  height: 80%;
  background: var(--dark-blue);
}

.user-title {
  font-size: 2rem;
  margin: 10% 0 5% 0;
}

.line {
  width: 90%;
  height: 2px;
  background: rgba(0, 0, 0, 0.3);
}

.user-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 10% 0 0 0;
}

.user-properties {
  background: var(--dark-lilac-faded);
  padding: 5%;
  margin-top: 5%;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: scroll;
}

.user-properties-listed {
  border: 1px black solid;
  width: 100%;
  max-height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 5% 0 0 0;
}

.title-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.user-props-title {
  font-size: 2rem;
}

.user-content {
  background: var(--dark-lilac);
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5%;
  height: 50%;
}

.about-property-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
}

:root {
  --lilac-background: rgba(178, 187, 255, 1);
  --dark-lilac: #979fdc;
  --dark-blue: #242a5b;
  --dark-blue-faded: rgba(36, 42, 91, 0.6);
  --dark-lilac-faded: #828ac5;
}

.user-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 10%;
}

.profile-pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7%;
  gap: 5%;
}

.about-user {
  background: var(--dark-lilac);
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5%;
  height: 70%;
}

.profile-pic {
  width: 100%;
  height: 80%;
  background: var(--dark-blue);
}

.user-title {
  font-size: 2rem;
  margin: 10% 0 5% 0;
}

.line {
  width: 90%;
  height: 2px;
  background: rgba(0, 0, 0, 0.3);
}

.user-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10% 0 0 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.user-list li {
  font-size: large;
}

.property-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  margin: 2%;
  width: 40%;
}

.property-img img {
  min-width: 100%;
  min-height: 100%;
}

.user-properties {
  background: var(--dark-lilac-faded);
  padding: 5%;
  width: 100%;
  margin-top: 5%;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: scroll;
}

.user-properties-listed {
  border: 1px black solid;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 5% 0 0 0;
}

.apartment-cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 3%;
}

.apartment-cost img {
  max-width: 10%;
  max-height: auto;
}

.view-sell-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 5%;
}

.view-sell-btns .btn {
  width: 5rem;
  height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title-icon {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.icon {
  background-color: var(--dark-blue);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-props-title {
  font-size: 2.5rem;
  letter-spacing: 0.5px;
  font-family: springwoodFont;
  color: white;
}

.user-content {
  background: var(--dark-lilac);
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5%;
  height: 70%;
  width: 40%;
}

.about-property-list {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
}

.about-content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0% 5%;
  overflow: scroll;
}

.about-content .about-title-desc {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0;
  gap: 3%;
  text-align: center;
}

.about-content .about-title-desc h2 {
  color: white;
  font-style: italic;
}

.about-content .about-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 5%;
  margin-top: 2%;
}

.about-content .about-section .about-1 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  width: 30%;
}

.about-content .about-section .about-1 p {
  margin-top: 10px;
}

:root {
  --lilac-background: rgba(178, 187, 255, 1);
  --dark-lilac: #979fdc;
  --dark-blue: #242A5B;
  --dark-blue-extra-faded: rgba(36, 42, 91, 0.1);
  --dark-blue-innerfade: rgba(36, 42, 91, 0.19);
  --dark-blue-faded: rgba(36, 42, 91, 0.6);
  --dark-lilac-faded: #828ac5;
}

footer {
  display: none;
}

img {
  width: auto;
  max-width: 47rem;
  max-height: 75%;
  border-radius: 8px;
}

.sell-button {
  margin: 3% 0 3% 0;
  background: var(--dark-blue);
  border: none;
  color: white;
  padding: 15px 32px;
  border-radius: 8px;
  text-align: center;
  display: inline-block;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.apt-display {
  height: 90%;
  width: 80%;
  background: var(--lilac-background);
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.apt-display--your-property {
  height: unset;
  padding: 1rem 0;
}

.apt-title {
  margin-bottom: 1rem;
  font-size: 25px;
}

.sale-status {
  color: rgba(88, 114, 102, 0.8);
}

.about-apt {
  border-radius: 8px;
  width: 70%;
  height: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--dark-blue-innerfade);
}

.about-apt-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.about-apt-title h2 {
  font-size: 35px;
}

.about-apt-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

ul {
  list-style: none;
}

.AptBox-frame {
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.AptInfo-frame {
  background-color: var(--dark-blue-extra-faded);
  width: 47rem;
  height: 10rem;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.224);
          box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.224);
}

button {
  background: var(--dark-blue);
  border: none;
  color: white;
  padding: 15px 32px;
  border-radius: 8px;
  text-align: center;
  display: inline-block;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.sell-btn {
  padding: 8px 15px;
  font-size: 20px;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(40%, rgba(0, 0, 0, 0.09)));
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.09) 40%);
  background-color: #B2BBFF;
  -webkit-box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.2);
          box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.197);
          box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.197);
}

.apt-price-tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 3%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  min-width: 30%;
}

.apt-price-tag img {
  max-width: 40%;
  max-height: 30%;
}

.apt-price-tag p {
  font-weight: bold;
  font-size: 20px;
}

.apt-price-tag--for-popup img {
  max-width: 10%;
  max-height: 20%;
}

.apt-price-tag--for-popup p {
  font-size: small;
}

.poster-frame {
  width: 5rem;
  height: 5rem;
  background-color: #242A5B;
  color: #fff;
  background-image: url("./css-content/texture-brick.jpeg");
}

.poster-grid {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

:root {
  --noah-sofia-blue: #2f3669;
  --sofia-blue: #7184ca;
}

.active {
  left: 75% !important;
}

.inventory-container {
  height: calc(100% - (72px + 4%));
  width: 25%;
  background: var(--nav-blue);
  -webkit-box-shadow: 0px 2px 4px var(--faded-lilac);
          box-shadow: 0px 2px 4px var(--faded-lilac);
  border-top-left-radius: 8px;
  color: white;
  position: absolute;
  top: calc(72px + 4%);
  left: 100%;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: left 1s;
  transition: left 1s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.inventory-container .inventory-item-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 5%;
  border-top-left-radius: 8px;
  background-color: var(--sofia-blue);
}

.inventory-container .inventory-drag-inout {
  position: absolute;
  left: -10%;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  padding-left: 0%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: -8px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10%;
  height: 15%;
  background: var(--noah-sofia-blue);
}

.inventory-container .poster-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2%;
  background-color: var(--lilac-background);
  border-radius: 8px;
  padding: 2%;
  margin: 5%;
}

.inventory-container .poster-item {
  width: 30%;
  height: auto;
  min-width: 80px;
}

.inventory-container .poster-item img {
  height: 130px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  border-radius: 8px;
  border: 1.5px solid black;
}

.inventory-container .poster-item img.active {
  border: 5px solid gold;
}

.inventory-container h1 {
  font-size: 40px;
  margin: 5%;
}

:root {
  --color-white: #FAFBFB;
  --color-2a: #ABD4C4;
  --color-2b: #97C5B1;
  --color-2c: #63AF8E;
  --color-dark: #3f6c59;
  --color-sky-a: #97CAD1;
  --color-sky-b: #95AFDE;
  --lilac-background: #B3BBFF;
  --faded-lilac: rgba(36, 42, 91, 0.19);
  --buy-btn-green: rgba(63, 108, 89, 1);
  --buy-btn-green-hover: rgb(83, 119, 104);
  --dark-blue: #242A5B;
  --dark-blue-hover: #363d70;
  --nav-blue: #52629a;
  --dark-blue-faded: rgba(36, 42, 91, 0.6);
  --dark-lilac-faded: #828ac5;
  --bg-gradient:linear-gradient(180deg, rgba(0, 70, 134, 0.3) 0%, rgba(0, 163, 255, 0) 100%), #B2BBFF;
}

@font-face {
  font-family: nunitoFont;
  src: url("/public/fonts/Nunito.ttf");
}

@font-face {
  font-family: springwoodFont;
  src: url("/public/fonts/Springwood.ttf");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: nunitoFont;
}

* button {
  cursor: pointer;
}

body {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: hidden;
  background: var(--bg-gradient);
  background-image: url("/public/images/thehillsbakgrund6.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#root {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 1rem 0rem 0rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 15;
}

header div {
  border-radius: 0px 0px 0px 8px;
  margin-top: -1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--nav-blue);
}

header div nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header div nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
  color: var(--color-white);
  font-size: 1.5rem;
  text-decoration: none;
  cursor: pointer;
}

header div section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--color-dark);
  font-size: 1.5rem;
  font-weight: bold;
}

main {
  padding-top: 10rem;
  background: var(----bg-gradient);
}

footer {
  width: 100%;
  padding: 2rem;
  background-color: #252525;
  color: var(--color-white);
}

footer li {
  padding: 0.5rem;
  list-style: none;
}

/* CLASSES */
.icon {
  width: 50px;
}

.logo {
  width: 200px;
  -webkit-filter: drop-shadow(2px 4px 9px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(2px 4px 9px rgba(0, 0, 0, 0.25));
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}
/*# sourceMappingURL=main.css.map */