@import '_payment.scss';
@import '_house.scss';
@import '_register.scss';
@import '_userpage.scss';
@import '_apartment.scss';
@import '_inventory.scss';


:root {
  // COLOR PALETTE
  // 2 as in secondary color, variants a-c
  --color-white: #FAFBFB;
  --color-2a: #ABD4C4;
  --color-2b: #97C5B1;
  --color-2c: #63AF8E;
  --color-dark: #3f6c59;
  --color-sky-a: #97CAD1;
  --color-sky-b: #95AFDE;
  --lilac-background: #B3BBFF;
  --faded-lilac: rgba(36, 42, 91, 0.19);
  --buy-btn-green: rgba(63, 108, 89, 1);
  --buy-btn-green-hover: rgb(83, 119, 104);
  --dark-blue: #242A5B;
  --dark-blue-hover: #363d70;
  --nav-blue: #52629a;
  --dark-blue-faded: rgba(36, 42, 91, 0.6);
  --dark-lilac-faded: #828ac5;
  --bg-gradient:linear-gradient(180deg, rgba(0, 70, 134, 0.3) 0%, rgba(0, 163, 255, 0) 100%), #B2BBFF;
}

@font-face {
  font-family: nunitoFont;
  src: url("/public/fonts/Nunito.ttf");
}

@font-face {
  font-family: springwoodFont;
  src: url("/public/fonts/Springwood.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: nunitoFont;

  button {
    cursor: pointer;
  }

}

body {
  height: 100%;
  width: 100%;
  display: flex;
  overflow-x: hidden;
  // background: var(--bg-gradient);
  background-image: url("/public/images/thehillsbakgrund6.png");
  background-size: contain;
  background-position: center;

}

#root {
  // flex-grow: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  
}

header {
  position: sticky;
  top: 0;
  padding: 1rem 0rem 0rem 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  z-index: 15;

  div {
    border-radius: 0px 0px 0px 8px;
    margin-top: -1rem;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    
    background-color: var(--nav-blue);

    nav {
      display: flex;
      align-items: center;
      
      a {
        display: flex;
        align-items: center;
        margin: 1rem;
        color: var(--color-white);
        font-size: 1.5rem;
        text-decoration: none;
        cursor: pointer;
      }
    }
    
    section {
      display: flex;
      align-items: center;
    
      color: var(--color-dark);
      font-size: 1.5rem;
      font-weight: bold;
    }
  }
}

main {
  padding-top: 10rem;
  background: var(----bg-gradient);

}
footer {
  width: 100%;
  padding: 2rem;
  background-color: rgb(37, 37, 37);
  color: var(--color-white);
li {
  padding: 0.5rem;
  list-style: none;
}
}

/* CLASSES */

.icon {
  width: 50px;
}

.logo {
  width: 200px;
  filter: drop-shadow(2px 4px 9px rgba(0, 0, 0, 0.25));
backdrop-filter: blur(4px);
}
