@import 'payment.scss';
@import 'house.scss';

:root {
  // COLOR PALETTE
  --color-white: #FAFBFB;
  --color-2a: #ABD4C4;
  --color-2b: #97C5B1;
  --color-2c: #63AB8B;
  --color-dark: #3f6c59;
  --lilac-background: #B3BBFF;
  --faded-lilac: rgba(36, 42, 91, 0.19);
  --dark-blue: #242A5B;
  --dark-blue-faded: rgba(36, 42, 91, 0.6);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: var(--color-2a);
  display: flex;
  overflow-x: hidden;
}

#root {
  flex-grow: 1;
  width: 100%;

  display: flex;
  flex-direction: column;

  section {
    flex-grow: 1;
  }
}

header {
  position: sticky;
  top: 0;
  padding: 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  z-index: 10;
  div {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    
    nav {
      display: flex;
      align-items: center;
      
      a {
        display: flex;
        align-items: center;
        margin: 1rem;
        color: var(--color-dark);
        font-size: 1.5rem;
        text-decoration: none;
      }
    }
    
    section {
      display: flex;
      align-items: center;
    
      color: var(--color-dark);
      font-size: 1.5rem;
      font-weight: bold;
    }
  }
}

footer {
  width: 100%;
  padding: 2rem;
  background-color: rgb(37, 37, 37);
  color: var(--color-white);
li {
  padding: 0.5rem;
  list-style: none;
}
}

/* CLASSES */

.icon {
  width: 50px;
}

.logo {
  width: 200px;
}
