:root {
  --color-white: #FAFBFB;
  --color-2a: #ABD4C4;
  --color-2b: #97C5B1;
  --color-2c: #63AB8B;
  --color-dark: #3f6c59;
}

body {
  background-color: var(--color-2a);
}
.shop-wrap {
  margin: 1rem;
  padding: 2rem;
  background-color: var(--color-2b);
  ;
  border-radius: 1rem;
}
.shop {
  padding: 2rem;
  border-radius: .75rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.shop2 {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

.shop2-left,
.shop3-right {
  background-color: var(--color-2c);
  padding: 2rem;
  width: 50%;
}

.shop2-left>table {
  margin-bottom: 2rem;
}

.shop2-left>table,
.shop2-left>footer {
  background-color: var(--color-2c);
  width: 100%;
  padding: 0;
}
form {
  background-color: var(--color-2c);
  padding: 2rem;
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.option {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  /* border-radius: .5rem; */
  background-color: var(--color-2c);
  }
  
  .option button {
    border-radius: .5rem;
    padding: 1rem;
}