:root {
    --lilac-background: rgba(178, 187, 255, 1);
    --dark-lilac: #979fdc;
    --dark-blue: #242A5B;
    --dark-blue-faded: rgba(36, 42, 91, 0.6);
    --dark-lilac-faded: #828ac5;
  
 }

/* .form-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
} */




.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

}

.wrapper-content {
    display: flex;
    max-width: 50%;
    height: 90%;
    background-color: var(--lilac-background);

    align-items: center;
    justify-content: center;

    border-radius: 8px;
}

/* 
.form-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
}
 */
.register-form {
    background-color: var(--dark-lilac-faded);
    padding: 10%;
    max-width: 80%;
    height: 80%;

    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}


.form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 5%;
    width: 100%;
}

input {
    width: 100%;
}

.form-heading {
    margin:0;
    align-self: center;
}



.form-group {
    margin-bottom: 5%;
}
